body {
    
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    background-color: white;

    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;

    border: 3vw solid black;
    position: relative;
}

.top-nav-card {
    width: fit-content;
    margin: 0 auto;
    border: 8px solid black;
    border-top: none;
    position: relative;
    top: -2vw;
    
    background-color: white;
    padding: .5rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    box-sizing: border-box;
}

.name-title {
    color:white;
    background-color: black;
    padding: .3rem;

    text-align: center;
    margin-top: 1.5vh;
    font-weight: bold;
    font-size: 2.7rem;
    letter-spacing: 1rem;
}

.dropdown {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: 2px solid black;
    cursor: pointer;
}

.section-title {
    color: white;
    background-color: black;
    padding: .5rem;
    
    text-align: center;
    margin: 1.5rem 0;
    margin-bottom: 3.5vh;
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.pg-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.central-card {
    width: 65vw;
    height: 65vh;
    border: 2vw solid black;
    background-color: white;

    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-border-tabs {
    position: absolute;
    top: -5%;
    left: 0px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    pointer-events: none;
    gap: 5vw;
}

.card-border-tabs > * {
    pointer-events: auto;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.card-border-tabs > *.active {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.content-display {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: #fafafa;
}

.content-display img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.content-display iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.card-border-bottom {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    
    background: black;
    color: white;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 0 0 4px 4px;
    z-index: 2;
}

.nav-arrow {
    background: black;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    font-weight: bold;
}

.nav-arrow:hover {
    background: #333;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.6;

    padding: 2vw;
    
}

.profile-pic {
    width: clamp(100px, 80%, 250px);
    aspect-ratio: 1 / 1;
    border: 1vw solid black;
    margin-bottom: 1rem;
    object-fit: cover;
}

.about-container .headline {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 1rem;
}